.MainPage h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.MainPage p {
    color: #999;
}

.MainPage {
    display: flex;
    justify-content: center;
    padding-top: 250px;
    /* The image used */
    background-image: url("../webbackground.jpg");
  
    height: 100%;
    width: 100%;
  
      /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .MainPage .navbar-brand {
    font-weight: bold;
  }
  
  .LoginContainer {    
      box-sizing: border-box;
      position: absolute;
      top: 20%;
      width: 350px;
  }